@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background: #f2f2f2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #ffff;
    width: 500px;
    border-radius:12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

.profissao {
    color: #777;
    font-size: 14px;
    margin-bottom: 15px;
}

.descricao {
    font-size: 14px;
    margin-bottom: 20px;
}

.links a {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    text-decoration: none;
    background: #222;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
}

.links a:hover {
    background: #555;
}